.sidebar{
    flex: 2;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgb(252, 186, 44);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    position: sticky;
    top: 10%
}

.title {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 500;
    line-height: 1px;
    text-align: center;
}

.list{
    list-style: none ;
    margin-bottom: 30px;
    
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listItem{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar button {
    border-radius: 25px;
    cursor: pointer;
    width: 255%;
    margin:3px;
    border: 1px solid rgb(76, 89, 202);
    background: rgb(76, 89, 202);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 15px;
    letter-spacing: 1px;
}